
<div class="page-title">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="mb-0"> Books</h4>
    </div>
    <div class="col-sm-6">     
    </div>
  </div>
</div>
<!-- main body -->
<div *ngIf="updateMode"  class="row">
    <div class="col-xl-12 mb-30">
      <div class="card card-statistics h-100">
        <div class="card-body">
          <h5 class="card-title">Manage Book</h5>
          <form #bookForm="ngForm" (submit)="saveBook()">            
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Name</label>
                  <input type="text" class="web form-control" [(ngModel)]="selectedBook.name" placeholder="Name" name="name">
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="numberOfPages">Number Of Pages</label>
                      <input type="text" class="web form-control" [(ngModel)]="selectedBook.numberOfPages" placeholder="Number Of Pages" name="numberOfPages">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="dateOfPublication">Date Of Publication</label>
                      <input type="text" class="web form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" #dpDateOfPublication="bsDatepicker"
                      value="{{selectedBook.dateOfPublication * 1000 | date:'MM/dd/yyyy'}}" (bsValueChange)="onValueChange($event)" placeholder="MM/DD/YYYY" name="dateOfPublication">
                  </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Authors</label>
                    <tag-input type="text"  theme='bootstrap' [(ngModel)]="autherList" placeholder="Authors" name="autherList"></tag-input>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" >Save</button>
              <button class="btn" (click)="cancelOnClick()" type="button">Cancel</button>
            </form>
        </div>
      </div>
    </div>
</div>
<div *ngIf="!updateMode" class="row">
    <div class="col-xl-12 mb-30">
      <div class="card card-statistics h-100">
        <div class="card-body">
            <button type="button" (click)="addnewOnClick()" class="btn btn-success btn-sm mr-2 pull-right"><i class="fa fa-plus mr-1"></i>Add New</button>

          <div class="table-responsive">
            <table class="table center-aligned-table mb-0">
              <thead><tr class="text-dark">
                <th (click)="sort('name')">Name
                    <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('numberOfPages')">Number Of Pages
                    <span class="glyphicon sort-icon" *ngIf="key =='numberOfPages'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th (click)="sort('dateOfPublication')">Date Of Publication
                    <span class="glyphicon sort-icon" *ngIf="key =='dateOfPublication'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>Authors</th>

                <th>Action</th>
              </tr></thead>
              <tbody>
                <tr *ngFor="let item of listBooks | orderBy: key : reverse | slice: (currentPage-1)*pageSize:pageSize*currentPage"> 
                  <td>{{item.name}}</td>
                  <td>{{item.numberOfPages}}</td>
                  <td>{{item.dateOfPublication * 1000 | date:'yyyy-MM-dd'}}</td>
                  <td>{{item.authors.join(', ')}}</td>

                  <td>
                    <button type="button" (click)="editBook(item)" class="btn btn-success btn-sm mr-2"><i class="fa fa-edit"></i>Edit</button>
                    <button type="button" (click)="deleteBook(item)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>Delete</button>
                  </td></tr>
              </tbody>
            </table>
          </div>
          
          <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" ></pagination>
          <pre><span class="float-md-left">Total Books: {{ totalItems }}</span></pre>
        </div>
      </div>  
    </div>
</div>







